MILK_MAX_PRICE=
MILK_MAX_PRICE_PER_LITER=0.75
MILK_MIN_TEMPERATURE=
MILK_INCLUDE_KEYWORDS=
MILK_EXCLUDE_KEYWORDS=
MILK_INCLUDE_MERCHANTS=
MILK_EXCLUDE_MERCHANTS=
BEER_MAX_PRICE=
BEER_MIN_TEMPERATURE=
BEER_INCLUDE_KEYWORDS=
BEER_EXCLUDE_KEYWORDS=
BEER_INCLUDE_MERCHANTS=
BEER_EXCLUDE_MERCHANTS=
ERROR_ALERT_COOLDOWN_MINUTES=60
